doctype html5
html(lang="es")
  head
    title mi primer proyecto con jade
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
    p.principal#principal.primero soy el parrafo principal
    .menu
    ul
      li: a(href="#") item 1
      li: a(href="#") item 2
      li: a(href="#") item 3
      li: a(href="#") item 4
    section
      p. 
        hola mundo    
          
